@import "../variables";
@import "../mixins";


.bookmarks {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .bookmark-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .remove-bookmark {
    align-self: flex-end;
    padding: 0;
    font-size: 0.9rem;
    color: $danger-color;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: darken($danger-color, 10%);
    }
  }

  .no-bookmarks,
  .error-message {
    text-align: center;
    color: #495057;
  }
}
