@use './variables' as *;
@use './login';
@use './backButton';
@use './signUp.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9; // Optional: Set a global background color
}

// Add any global styles below
