# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# .gitignore

node_modules/
.env
dist/
firebase-debug.log
firebase.json
firestore.indexes.json
firestore.rules
